html, body {
  height: 100%;
  margin: 0;
  width: 100%; 
        
  background-image: url("https://i1.mybook.io/p/x480/bookset/0e/4e/0e4e921f-8dd7-4ba2-834d-7b1161992f83.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background: linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat,
    url(big-star.png) center no-repeat, rebeccapurple;
  }
}










