html, body {
  height: 100%;
  margin: 0;
  width: 100%; 
        
  background-image: url("https://i1.mybook.io/p/x480/bookset/0e/4e/0e4e921f-8dd7-4ba2-834d-7b1161992f83.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background: 400px 200px no-repeat;
  input[type="text"] { width: 98%; margin-bottom: 10px; height: 25px;}
input[type="submit"] { margin-left: 480px; height: 45px; width: 213px; background: #c71e1c; }

  }
}










