html, body {
  height: 100%;
  margin: 0;
  width: 100%; }
.feature-kitten {                      
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rfbr.ru%2Frffi%2Fru%2Fscience_news%2Fo_2078850&psig=AOvVaw2CU1ENz-o9uGTIbJyInTBj&ust=1684069366370000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCKC18rat8v4CFQAAAAAdAAAAABAD");
}










